<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjfZuZGD1ls3yyMTf4iIW9uYq0muMlpls</string>
	<key>GCM_SENDER_ID</key>
	<string>1013537290036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hsleiden.s1130161.pomodoroApp</string>
	<key>PROJECT_ID</key>
	<string>pomodoro-app-2a6d3</string>
	<key>STORAGE_BUCKET</key>
	<string>pomodoro-app-2a6d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1013537290036:ios:dbd8d6dabb6defd8a69761</string>
</dict>
</plist>